@font-face {
    font-family: "Figtree-ExtraBold";
    src: url(assets/fonts/Figtree-ExtraBold.ttf)format('truetype');
    font-weight:800;
    font-style: normal;
}
@font-face {
    font-family: "Figtree-semibold";
    src: url(assets/fonts/Figtree-SemiBold.ttf)format('truetype');
    font-weight:500;
    font-style: normal;
}
@font-face {
    font-family: "Figtree-italic";
    src: url(assets/fonts/Figtree-Italic-VariableFont_wght.ttf)format('truetype');
    font-style: italic;
}
@font-face {
    font-family: "Figtree-variable-font";
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf)format('truetype');
    font-style: normal;
}



*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f4d04e;
    font-family: "Figtree-variable-font", sans-serif;
    color: #111111;
    line-height: 150%;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 1.5625rem;
}

.card div{
    background-color: white;
    width: 17.438rem;
    height: 28.313rem; 
    border-radius: 1.25rem;
    padding: 1.5rem; 
    box-shadow: 10px 10px 0px #111111;
    border: #111111 solid 1px;
}


.blog_image{
    width: 17.438rem;
    border-radius:0.625rem;
    margin-bottom: 1.5rem;
    background-color: #111111;
}

h1{
    font-size: 0.875rem ;
    background-color: #f4d04e;
    border-radius: 0.25rem;
    width: 4.563rem;
    padding: 0.063rem 0;
    text-align: center;
    font-weight: bold;
}

.pub_date{
    font-size: 0.75rem;
    font-weight: 500;
    margin: 12px 0;
}

h2{
    font-size: 20px;
    font-weight: 800;
}

h2:hover {
    color: #f4d04e;
    cursor: pointer;
}

.description{
    color: #6b6b6b;
    font-size: 0.875rem;
    margin: 0.75rem 0;
    font-weight: 400;
}

figure{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-weight: bold;
    margin-top: 1.5rem;
    font-size: 0.875rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (min-width:1140px) { 

    .card div{
        background-color: white;
        height:29.625rem ;
        width: 21rem; 
        border-radius: 0.625rem;
        padding: 1.5rem; 
    }

    .blog_image{
       width: 21rem;
       height: 12.5rem;
    }
    
    h1{
        font-size: 0.875rem;
        background-color: #f4d04e;
        border-radius: 0.25rem;
        width: 5.125rem;
        padding: 0.188rem 0;
        text-align: center;
        font-weight: bold;
    }
    h2{
        font-size: 1.5rem;
    }

    .description {
        font-size: 1rem;

    }
}


